<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: header">

	<meta charset="UTF-8">
	<title>edit event</title>


</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<h2 style="text-align: center">Edit Event:</h2>

<div class="detailContainer" id="formGroupContainer">
	<div class="detailCard Family">

		<div class="form-group" style="width: 100%" id="formGroupSubmit">
			<form th:action="@{|/events/${event.id}/edit|}" th:method="POST" th:object="${event}">
				<label for="title"></label>
				<input id="title" type="text" name="title" th:value="${event.title}" placeholder="Enter title"><span
					class="asterisk_input">  </span>
				<br/>
				<label for="body"></label>
				<textarea name="body" style="width: 90%" id="body" th:text="${event.description}"
						  placeholder="Enter description"></textarea><span class="asterisk_input">  </span>
				<br/>
				<label for="parentCategory"></label>
				<select name="parentCategory" class="select-css" id="parentCategory">
					<option value="" selected disabled hidden>Categories</option>
					<div th:each="category : ${parentCategories}">
						<option th:value="${category.id}" th:text="${category.category}"></option>
					</div>
				</select>
				<br/>

				<label for="startTime" style="width: 43%"></label>
				<input id="startTime" class="timepicker" type="text" name="startTime"
					   th:value="${event.startTime}"><span
					class="asterisk_input2">  </span>

				<label for="endTime" style="width: 43%"> until </label>
				<input id="endTime" class="timepicker" type="text" name="endTime" th:value="${event.endTime}"><span
					class="asterisk_input2">  </span>
				<br/>
				<label for="start">Start Date</label>
				<br/>
				<input type="text" class="datepicker" id="startDateFull" name="startDateFull" size="30"
					   th:value="${event.startDateFull}"><span class="asterisk_input2">  </span>
				<input type="hidden" class="alternate1" id="start" name="start" th:value="${event.start}">
				<br/>
				<label for="end">End Date</label>
				<br/>
				<input type="text" class="datepicker" id="endDateFull" name="endDateFull" size="30"
					   th:value="${event.endDateFull}"><span class="asterisk_input">  </span>
				<input type="hidden" class="alternate2" id="end" name="end" th:value="${event.end}">
				<br/>
				<input type="button" value="Add Event Image" id="pickWatermark" style="width: 90%" onclick="pickMark()">
				<br/>
				<input type="hidden" name="eventImage" id="eventImage" th:field="*{eventImage}"/>

				<input value="Update Event" type="submit" class="interested-btn" style="width: 90%"/>
			</form>
		</div>
	</div>
</div>
	<!--<footer>2020 What's Up, SA</footer>-->

	<!--<script :block th:replace="/partials/scripts.html :: scripts"></script>-->

	<script th:inline="javascript">
		let client = filestack.init(document.querySelector('meta.fsapi').content);

		function pickMark() {
			client.pick({
				accept: 'image/*',
				maxFiles: 1
			}).then(function (result) {
				document.getElementById("eventImage").value = result.filesUploaded[0].url;
			});
		}
	</script>

</body>
</html>