<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: header">

    <meta charset="UTF-8">
    <title>edit event</title>


</head>
<body>

<div class="form-container">

    <div class="nav-div">
        <nav th:replace="partials/navbar.html :: navbar"></nav>
    </div>

    <div class="left-gutter"></div>
    <div class="right-gutter"></div>

<!--    <div class="header">-->
<!--        <h1 th:text="${event.title}"></h1>-->
<!--        <p th:text="${event.description}"></p>-->
<!--    </div>-->
    <!--Category: <p th:text="${event.category}"></p>-->
    <h1 class="banner">Edit Event:</h1>

    <div class="form-group">
        <form th:action="@{|/events/${event.id}/edit|}" th:method="POST" th:object="${event}">
            <label for="title">title</label>
            <input id="title" type="text" name="title" th:value="${event.title}" placeholder="Enter title">
            <br/>
            <label for="body">Body</label>
            <textarea name="body" id="body" cols="30" rows="10" th:text="${event.description}"
                      placeholder="Enter description"></textarea>
            <br/>
            <label for="parentCategory">Edit the category:</label>
            <select name="parentCategory" id="parentCategory">
                <option value="" selected disabled hidden>Categories</option>
                <div th:each="category : ${parentCategories}">
                    <option th:value="${category.id}" th:text="${category.category}"></option>
                </div>
            </select>
            <br/>

            <label for="startTime">Start Time</label>
            <input id="startTime" type="time" name="startTime" th:value="${event.startTime}">

            <label for="endTime">End Time</label>
            <input id="endTime" type="time" name="endTime" th:value="${event.endTime}">

            <label for="startDate">Start Date</label>
            <input type="text" class="datepicker" id="startDateFull" name="startDateFull" size="30" th:value="${event.startDateFull}">
            <input type="hidden" class="alternate1" id="startDate" name="startDate" th:value="${event.startDate}">

            <label for="endDate">End Date</label>
            <input type="text" class="datepicker" id="endDateFull" name="endDateFull" size="30" th:value="${event.endDateFull}">
            <input type="hidden" class="alternate2" id="endDate" name="endDate" th:value="${event.endDate}">


            <input type="button" value="Add Profile Image" id="pickWatermark" onclick="pickMark()">

            <input type="hidden" name="eventImage" id="eventImage" th:field="*{eventImage}"/>

            <input value="Update Event" type="submit"/>
        </form>
    </div>

    <div class="footer-div"></div>

</div>

<script th:inline="javascript">
    let client = filestack.init(document.querySelector('meta.fsapi').content);

    function pickMark() {
        client.pick({
            accept: 'image/*',
            maxFiles: 1
        }).then(function (result) {
            document.getElementById("eventImage").value = result.filesUploaded[0].url;
        });
    }
</script>

</body>
</html>