<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="detailContainer">
    <div class="detailCard" id="detailsPage" th:classappend="${category}">

<!--        image block-->
        <img class="detailImage detailBlock" th:attr="src=@{${eventImage}}"/>

<!--        title+info block-->
        <div class="detailBlock" style="margin: 0 auto; box-sizing: border-box; padding: 0 2em;">
            <h1 th:text="${title}"></h1>
            <p th:text="|Start Date: ${startDateFull}|"></p>
            <p th:text="|End Date: ${endDateFull}|"></p>
            <p th:text="|Start Time: ${startTime}|"></p>
            <p th:text="|End Time: ${endTime}|"></p>
        </div>

<!--        description + category block-->
        <div class="detailBlock" style="margin: 2em auto; padding: 0 2em; box-sizing:border-box;">
            <p th:text="${description}"></p>
            <div th:each="category : ${categories}"><p>Category: <span th:text="${category.category}"></span></p></div>
        </div>

<!--        interest block-->
        <div class="detailBlock" style="padding: 2em 2em; box-sizing:border-box;">
            <div th:each="user : ${interestedUsers}">
                <div class="">
                    <a th:href="@{|/profile/${user.userID.id}|}" ><img th:src="${user.userID.profileImage}" alt="" style="display: block; max-width: 40px; max-height: 40px; width: auto; height: auto; border-radius: 4px"></a>
                </div>
            </div>
            <br/>
            <form th:if="${interested} == null" th:action="@{|/events/${id}/interested|}" th:value="${id}" th:method="POST"
                  style="display:inline">
                <span>You are not interested in this event. </span><button>Interested</button>
            </form>

            <form th:if="${interested} != null" th:action="@{|/events/${interested}/decline|}" th:value="${interested}"
                  th:method="POST"
                  style="display:inline">
                <span>You are interested in this event. </span><button>Not Interested</button>
            </form>
        </div>
    </div>
</div>
<!--<script :block th:replace="/partials/scripts.html :: scripts"></script>-->
</body>
</html>