<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<div class="detailContainer">
    <div class="detailCard" id="detailsPage" th:classappend="${category}">
        <img class="eventImage" th:attr="src=@{${eventImage}}" style="height: auto; width: 95%"/>
        <h1 th:text="${title}"></h1>
        <p th:text="${description}"></p>
        <p th:text="|Start Date: ${startDateFull}|"></p>
        <p th:text="|End Date: ${endDateFull}|"></p>
        <p th:text="|Start Time: ${startTime}|"></p>
        <p th:text="|End Time: ${endTime}|"></p>
        <!--    Category: <p th:text="${category}"></p>-->
        <div th:each="user : ${interestedUsers}">
            <div class="">
<!--                <img th:src="${user.userID.profileImage}" alt="" style="display: block; max-width: 30px; max-height: 30px; width: auto; height: auto">-->
                <a th:href="@{|/profile/${user.userID.id}|}" ><img th:src="${user.userID.profileImage}" alt="" style="display: block; max-width: 30px; max-height: 30px; width: auto; height: auto; border-radius: 3px"></a>
            </div>
        </div>
        <p>Category: </p>
        <div th:each="category : ${categories}"><p th:text="${category.category}"></p></div>


        <form th:if="${interested} == null" th:action="@{|/events/${id}/interested|}" th:value="${id}" th:method="POST"
              style="display:inline">
            <button>Interested</button>
        </form>

        <form th:if="${interested} != null" th:action="@{|/events/${interested}/decline|}" th:value="${interested}"
              th:method="POST"
              style="display:inline">
            <button>Uninterested</button>
        </form>

    </div>
</div>
<!--<script :block th:replace="/partials/scripts.html :: scripts"></script>-->
</body>
</html>