<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Submit an Event</title>
</head>
<body>
<h1>Submit an Event</h1>
<form th:action="@{|/submit|}" th:method="POST">
	<label for="title">Title</label>
	<input id="title" type="text" name="title" placeholder="Enter event title">
	<label for="description">Description</label>
	<textarea id="description" name="description" placeholder="Enter event description"></textarea>
	<label for="parentCategory">Pick a parent category:</label>
	<select name="parentCategory" id="parentCategory" th:each="category : ${categories}">

	</select>
	<button>Submit Event</button>
</form>
</body>
</html>