<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>Submit an Event</title>
</head>
<body>

<div class="form-container">
    <div class="nav-div">
        <nav th:replace="partials/navbar.html :: navbar"></nav>
    </div>

    <div class="left-gutter"></div>
    <div class="right-gutter"></div>

    <div class="banner">
        <h1>Submit an Event</h1>
    </div>

    <div class="form-group">
        <form th:action="@{|/submit|}" th:method="POST">
            <label for="title">Title</label> <br>
            <input id="title" type="text" name="title" placeholder="Enter event title" required>
            <br/>
            <label for="description">Description</label> <br>
            <textarea id="description" name="description" placeholder="Enter event description" required></textarea>
            <br/>
            <label for="parentCategory">Pick a parent category:</label>
            <select name="parentCategory" id="parentCategory" required>
                <option value="" selected disabled hidden>Categories</option>
                <div th:each="category : ${parentCategories}">
                    <option th:value="${category.id}" th:text="${category.category}"></option>
                </div>
            </select>
            <br/>
            <div th:each="category : ${childCategories}">
                <input type="checkbox" th:id="${category.id}" th:name="${category.id}" th:value="${category.id}">
                <label th:for="${category.id}" th:text="${category.category}"></label>
                <br/>
            </div>

            <label for="startTime">Start Time</label>
            <input id="startTime" class="timepicker" type="text" name="startTime" required>

            <label for="endTime">End Time</label>
            <input id="endTime" class="timepicker" type="text" name="endTime">

            <label for="startDate">Start Date</label>
            <input type="text" class="datepicker" required id="startDateFull" name="startDateFull" size="30">
            <input type="hidden" class="alternate1" id="startDate" name="startDate">

            <label for="endDate">End Date</label>
            <input type="text" class="datepicker" id="endDateFull" name="endDateFull" size="30">
            <input type="hidden" class="alternate2" id="endDate" name="endDate">

            <input type="button" value="Add Image(s)" id="pickWatermark" onclick="pickMark()">
            <input type="hidden" name="eventImage" id="eventImage">

            <button id="submit-btn">Submit Event</button>
        </form>
    </div>

    <div class="footer-div"></div>
</div>

<script :block th:replace="/partials/scripts :: scripts"></script>
<script th:inline="javascript">
    let client = filestack.init(document.querySelector('meta.fsapi').content);

    function pickMark() {
        client.pick({
            accept: 'image/*',
            maxFiles: 1
        }).then(function (result) {
            document.getElementById("eventImage").value = result.filesUploaded[0].url;
        });
    }

</script>
</body>
</html>