<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>title</title>

    <link rel="stylesheet" th:href="@{/css/custom.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/custom.js"></script>
    <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
    <meta class="fsapi" th:content="${fsapi}">
</head>
<body>

</body>
</html>