<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

    <nav th:fragment="navbar" class="nav">
        <ul>
            <li>
                <a href="/home">home</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a href="/register">register</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a href="/login">login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/events/submit">create post</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout">logout</a>
            </li>
        </ul>
    </nav>

</html>