<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<div>
    <nav th:fragment="navbar" class="nav">
        <ul>
            <li class="nav-link">
                <a th:href="@{/index}">view events</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/register}">register</a>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">login</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/submit}">create post</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/profile}">profile</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">logout</a>
            </li>
        </ul>
    </nav>
</div>

</html>