<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>all users</title>
</head>
<body>

<nav th:replace="partials/navbar.html :: navbar"></nav>

<div th:each="user : ${users}">
    <a th:href="@{|/profile/${user.id}|}"><p th:text="${user.username}"></p></a>
    <p th:text="${user.email}"></p>
    <form th:action="@{|/all/${user.id}/delete|}" th:value="${user.id}" th:method="POST" style="display:inline">
        <button>delete user</button>
    </form>
</div>

</body>
</html>