<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>all users</title>
</head>
<body>

<nav th:replace="partials/navbar.html :: navbar"></nav>

    <div th:each="user : ${users}">
        <p th:text="${user.username}"></p>
        <p th:text="${user.email}"></p>
<!--        <a th:href="@{|/all/${user.id}/delete|}">delete user</a>-->
        <form th:action="@{|/all/${user.id}/delete|}" th:value="${user.id}" th:method="POST" style="display:inline">
            <button>delete user</button>
        </form>
    </div>

</body>
</html>