<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html :: header">
	<meta charset="UTF-8">
	<title>profile</title>
</head>
<body>

<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="welcome" th:object="${user}">
	<h1 th:text="${user.username}"></h1>
	<br>
	<img class="profileImage" th:attr="src=@{${user.profileImage}}" style="height: 250px; width: auto"/>
	<br>
	<th:block th:object="${relationship}">
		<div th:switch="${checkFriendship}">
			<th:block th:case="1">
				<form th:action="@{|/profile/${relationship.id}/unfriend|}" th:value="${relationship.id}" th:method="POST" style="display:inline">
					<button>unfriend</button>
				</form>
			</th:block>
			<th:block th:case="2">
				<form th:action="@{|/profile/${relationship.id}/fr|}" th:value="${relationship.id}" th:method="POST" style="display:inline">
					<button>add as friend</button>
				</form>
			</th:block>
			<th:block th:case="3">
				<form action="" style="display:inline">
					<button disabled>friend request pending</button>
				</form>
			</th:block>
			<th:block th:case="*">
			<form th:action="@{|/users/detail/fr/${user.id}|}" th:value="${user.id}" th:method="POST" style="display:inline">
				<button>add as friend</button>
			</form>
			</th:block>
		</div>
	</th:block>


<!--	<h5 th:text="${user.email}"></h5><a href="/update">edit</a>-->
</div>


<!--TODO: if friends show events-->

<!--<th:block th:object="${events}">-->
<!--	<th:block th:each="event : ${events}">-->
<!--		<h1 th:text="${event.title}"></h1>-->
<!--		<h5 th:text="${event.description}"></h5>-->
<!--	</th:block>-->
<!--</th:block>-->

<!--    <div class="calendar-container">-->
<!--        placeholder for a calendar-->
<!--    </div>-->
<script :block th:replace="/partials/scripts :: scripts"></script>

</body>
</html>