<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>profile</title>

    <style>
        #calendar {
            height: 50vh;
        }
    </style>
</head>
<body>

<div class="profile-container">


    <div class="nav-profile">
        <nav th:replace="partials/navbar.html :: navbar"></nav>
    </div>

    <div class="left-profile"></div>
    <div class="right-profile"></div>


    <div class="user-info">
        <div class="welcome" th:object="${user}">
            <h1 th:text="${user.username}"></h1>
            <h5 th:text="${user.email}"></h5><a href="/update">edit</a>
          <img class="profileImage" th:attr="src=@{${user.profileImage}}" style="height: 250px; width: auto"/>
        </div>

        <!--friend request notifications-->
        <th:block th:object="${pairList}">
            <th:block th:each="pair : ${pairList}">
                <p><span th:text="${pair.key}"></span> has sent you a friend request.</p>
                <form th:action="@{|/profile/${pair.value}/approve|}" th:method="POST" style="display:inline">
                    <button>accept</button>
                </form>
                <form th:action="@{|/profile/${pair.value}/decline|}" th:method="POST" style="display:inline">
                    <button>decline</button>
                </form>
            </th:block>
        </th:block>

        <!--friends list-->
        <th:block th:object="${friendList}">
            <p>Friend List:</p>
            <th:block th:each="friend : ${friendList}">
                <a th:href="@{|/profile/${friend.id}|}" th:text="${friend.username}"></a>
                <br/>
            </th:block>
        </th:block>
    </div>

    <div class="user-posts">
        <p>here are your posts</p>
        <th:block th:object="${events}">
            <th:block th:each="event : ${events}">
                <h1 th:text="${event.title}"></h1>
                <h5 th:text="${event.description}"></h5>
                <img class="eventImage" th:attr="src=@{${event.eventImage}}" style="height: 250px; width: auto"/>
            </th:block>
        </th:block>
    </div>

    <div class="calendar-profile" id="calendar">

    </div>

    <div class="footer-profile"></div>
</div>

</body>
</html>