<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>

<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="profileContainer">

    <div class="profileCard Music detailBlock" style="box-sizing: border-box;">

        <div class="welcome" th:object="${user}">
            <img class="eventImage profileImage" th:attr="src=@{${user.profileImage}}"/>
            <h2 th:text="${user.username}"></h2>
            <p id="emailFont" th:text="${user.email}"></p>
            <form th:action="@{|/update|}" style="display:inline">
                <button class="profile-btn">Edit Profile</button>
            </form>
            <br>
            <form th:if="${user.admin} == true" th:action="@{|/admin|}" style="display:inline">
                <button class="profile-btn">Admin Page</button>
            </form>
            <br>
            <form th:if="${user.admin} == true" th:action="@{|/all|}" style="display:inline">
                <button class="profile-btn">All Users</button>
            </form>
        </div>
        <!--friend request notifications-->
        <th:block th:object="${pairList}">
            <th:block th:each="pair : ${pairList}">
                <p><span th:text="${pair.key}"></span> has sent you a friend request.</p>
                <form th:action="@{|/profile/${pair.value}/approve|}" th:method="POST" style="display:inline">
                    <button>accept</button>
                </form>
                <form th:action="@{|/profile/${pair.value}/decline|}" th:method="POST" style="display:inline">
                    <button>decline</button>
                </form>
            </th:block>
        </th:block>
    </div>

    <div class="profileCard Family detailBlock" style="height: 370px; overflow: auto; box-sizing: border-box; max-width: 400px;">

        <h2>Interested Events:</h2>
        <th:block th:object="${interestedEvents}" th:each="event : ${interestedEvents}">
            <a th:href="@{|/events/${event.event.id}|}"><p id="emailFont" th:text="${event.event.title}"></p></a>
        </th:block>
    </div>

    <div class="" style="box-sizing: border-box; width: 100%">
        <h2>Friends:</h2>
        <div th:each="friend : ${friendList}" class="eventCard smallDetailBlock Movies">
            <img class="eventImage" th:attr="src=@{${friend.profileImage}}"/>
            <a th:href="@{|/profile/${friend.id}|}"><p th:text="${friend.username}"></p></a>
        </div>
    </div>

</div>
<!--<script :block th:replace="/partials/scripts.html :: scripts"></script>-->

</body>
</html>