<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>profile</title>
</head>
<body>

<nav th:replace="partials/navbar.html :: navbar"></nav>

<th:block th:object="${events}">
    <h1 th:text="${user.username}"></h1>
    <h5 th:text="${user.email}"></h5><a th:href="@{|/update/${user.id}|}"><button>Edit profile</button></a>
    <img class="profileImage" th:attr="src=@{${user.profileImage}}" style="height: 250px; width: auto"/>
</th:block>

<th:block th:object="${events}">
    <th:block th:each="event : ${events}">
        <h1 th:text="${event.title}"></h1>
        <h5 th:text="${event.description}"></h5>
        <img class="eventImage" th:attr="src=@{${event.eventImage}}" style="height: 250px; width: auto"/>
    </th:block>
</th:block>

<!--    <div class="calendar-container">-->
<!--        placeholder for a calendar-->
<!--    </div>-->

</body>
</html>