<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">

    <title>register</title>
</head>
<body>


<div class="form-container">

    <div class="nav-div">
        <nav th:replace="partials/navbar.html :: navbar"></nav>
    </div>

    <div class="left-gutter"></div>
    <div class="right-gutter"></div>

    <h2 class="banner">Create an Account</h2>

    <div class="form-group">
        <form th:action="@{/register}" method="POST" th:object="${user}">
            <div>
                <label for="username"></label>
                <input id="username" th:field="*{username}" placeholder="Enter Username"
                       required="required"/><span class="asterisk_input">  </span>
            </div>
            <div>
                <label for="email"></label>
                <input class="email" id="email" th:field="*{email}" placeholder="Enter Email" required="required"/><span
                    class="asterisk_input">  </span>
            </div>
            <div>
                <label for="password"></label>
                <input class="password" type="password" th:field="*{password}" placeholder="Enter Password"
                       required="required" id="password"/><span class="asterisk_input">  </span>
            </div>
            <div>
                <label for="confirmPassword"></label>
                <input class="confirmPassword" placeholder="Confirm Password" type="password" required="required"
                       id="confirmPassword"/><span class="asterisk_input">  </span>

            </div>

            <input type="button" value="Upload Profile Picture" id="pickWatermark" onclick="pickMark()">

            <input type="hidden" name="profileImage" id="profileImage" th:field="*{profileImage}"/>

            <input value="Create an Account" class="btnSubmit" type="submit"/>

        </form>
    </div>

    <div class="footer-div"></div>

</div>
<!--<footer>2020 What's Up, SA</footer>-->
<!--<script :block th:replace="/partials/scripts.html :: scripts"></script>-->
<script th:inline="javascript">
    let client = filestack.init(document.querySelector('meta.fsapi').content);

    function pickMark() {
        client.pick({
            accept: 'image/*',
            maxFiles: 1
        }).then(function (result) {
            document.getElementById("profileImage").value = result.filesUploaded[0].url;
        });
    }
</script>
</body>
</html>