<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>update profile</title>
</head>
<body>
<!--<th:block th:include="partials/navbar"/>-->
<div class="update-container">

<div class="update-header">
    <nav th:replace="partials/navbar.html :: navbar"></nav>
</div>

<div class="lft-gutter"></div>
<div class="rt-gutter"></div>

    <h1 class="update-h1">update your profile</h1>

    <div class="update-form">
        <form th:action="@{/update}" method="post" th:object="${user}">

            <div class="input-group">
                <label for="username">Username</label> <br>
                <input id="username" th:field="*{username}" placeholder="Username"/>
            </div>
            <div class="input-group">
                <label for="email">Email</label> <br>
                <input class="email" id="email" th:field="*{email}" placeholder="Email"/>
            </div>
            <div class="input-group">
                <label for="password">Password</label> <br>
                <input class="password" type="password" th:field="*{password}" placeholder="Password" id="password"/>
            </div>
            <div class="input-group">
                <label for="confirmPassword">Confirm Password</label> <br>
                <input class="confirmPassword" placeholder="Confirm Password" type="password" required="required"
                       id="confirmPassword"/>
            </div>
            <input value="Update account" class="btnSubmit" id="updateSaved" type="submit"/>

        </form>
    </div>

</div>

</body>
</html>