<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>update profile</title>
</head>
<body>
<!--<th:block th:include="partials/navbar"/>-->
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="update-container">
    <form th:action="@{/update}" method="post" th:object="${user}">

        <div class="input-group">
            <label for="username">Username</label>
            <input id="username" th:field="*{username}" placeholder="Username"/>
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input id="email" th:field="*{email}" placeholder="Email"/>
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input class="password" type="password" th:field="*{password}" placeholder="Enter Password" id="password"/>
        </div>
        <div class="input-group">
            <label for="confirmPassword">Confirm Password</label>
            <input class="confirmPassword" placeholder="Confirm Password" type="password" required="required"
                   id="confirmPassword">

            <input value="Update account" class="btnSubmit" type="submit"/>

        </div>
    </form>
</div>

</body>
</html>