body {
    border: 0;
    margin: auto 0;
    padding-top: 40px;
    background-color: #E2BEF1;
    height: 100%;
}

footer {
    flex-shrink: 0;
    height: 50px;
    background-color: white;
    line-height: 50px;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

select {
    font-size: 15px;
    width: 90%;
    height: 3em;
    border: none;
    text-align-last: center;
}

/*nav begin*/
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a, .link-button {
    display: block;
    padding: 15px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover,
.link-button:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 23px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.inline {
    display: inline;
}

.link-button {
    background: none;
    border: none;
    color: black;
    font-size: 1em;
    font-family: 'Merriweather', serif;

}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 15px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/*nav end*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}

p, label {
    line-height: 1.5;
    font-family: 'Merriweather', serif;

}

a, .link-button {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}

.banner {
    margin: 0 auto;
}

.form-group {
    background-color: peachpuff;
    margin: 0 auto;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    display: table;
}

#formGroupSubmit{
    background-color: transparent;
    box-shadow: none;
}
#formGroupContainer{
    width: 95%;
}

.form-group form {
    text-align: center;
    margin: auto;
    padding: 1.5em;

    display: table-cell;
    vertical-align: middle;
}

.form-group label {
    text-align: center;
    font-size: 12px;
}

.form-group input, .form-group textarea {
    text-align: center;
    font-size: 1em;
    width: 70%;
    padding: 1em 1em;
    margin: 1em 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 5px;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);

}

.profile-btn {
    background: peachpuff;
    color: black;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    width: 9em;
    border-radius: 10px;
    text-align: center;
    margin: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#emailFont {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.asterisk_input::after {
    content: " *";
    color: #e32;
    position: absolute;
    margin: 12px 0px 0px -16px;
    font-size: xx-large;
    padding: 0 5px 0 0;
}

.asterisk_input2::after {
    content: " *";
    color: #e32;
    position: absolute;
    margin: 12px 0px 0px -21px;
    font-size: xx-large;
    padding: 0 5px 0 0;
}


#startTime, #endTime {
    width: 41%;
}

#startDateFull, #endDateFull, #title, #description, #pickWatermark {
    width: 90%;
}

.form-container {
    display: grid;
    grid-template-columns: .25fr 1fr .25fr;
    grid-template-rows: .25fr .10fr 1fr .25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
}

#detailsPage {
    margin: 0 auto;
}

.nav-div {
    grid-area: 1 / 1 / 2 / 4;
}

.footer-div {
    grid-area: 4 / 1 / 5 / 4;
}

.left-gutter {
    grid-area: 2 / 1 / 4 / 2;
}

.right-gutter {
    grid-area: 2 / 3 / 4 / 4;
}

.header {
    grid-area: 2 / 2 / 3 / 3;
}

.form-group {
    grid-area: 3 / 2 / 4 / 3;
}


.profile-container {
    display: grid;
    grid-template-columns: .15fr .70fr 1fr .15fr;
    grid-template-rows: .1fr .5fr .5fr .25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav-profile {
    grid-area: 1 / 1 / 2 / 5;
}

.footer-profile {
    grid-area: 4 / 2 / 5 / 4;
}

.left-profile {
    grid-area: 2 / 1 / 4 / 2;
}

.right-profile {
    grid-area: 2 / 4 / 4 / 5;
}

.user-info {
    grid-area: 2 / 2 / 3 / 3;
}

.user-posts {
    grid-area: 3 / 2 / 4 / 3;
}

.calendar-container {
    grid-area: 2 / 3 / 3 / 3;
}

.calendar-profile {
    grid-area: 2 / 3 / 3 / 3;
}

.friends-container {
    grid-area: 3 / 3 / 3/ 4
}

.user-info {
    grid-area: 2 / 2 / 3 / 3;
}

.user-posts {
    grid-area: 3 / 2 / 4 / 3;
}

.calendar-container {
    grid-area: 2 / 3 / 4 / 4;
}

.calendar-profile {
    grid-area: 2 / 3 / 4 / 4;
}

.aboutContainer {
    margin: 2em auto;
    width: 90%;
    max-width: 1024px;
    column-gap: 3em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.aboutCard {
    width: 250px;
    border-radius: 10px;
    display: inline-block;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.aboutCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.detailContainer {
    margin: 2em auto;
    width: 80%;
    max-width: 1024px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.detailCard {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 4em 1em;
    margin: 0 0 1em;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.detailImage {
    height: auto;
    width: 90%;
    max-width: 250px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.splashBlock {
    width: 100%;
    margin: 0 auto;
}

.detailBlock {
    width: 100%;
}

.smallDetailBlock {
    width: 38%;
}

.profileContainer {
    margin: 2em auto;
    width: 80%;
    max-width: 1024px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profileCard {
    border-radius: 10px;
    /*display: inline-block;*/
    padding: 1em;
    margin: 0 0em 1em 0em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.profileCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}

.eventContainer {
    margin: 2em auto;
    width: 80%;
    max-width: 1024px;
    column-gap: 28px;
    text-align: center;
}

.eventCard {
    /*background-color: peachpuff;*/
    border-radius: 10px;
    display: inline-block;
    padding: 1em;
    margin: 0 0 1em;
    /*width: 100%;*/
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.eventCard:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.eventImage {
    border-radius: 10px;
    height: auto;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Music {
    background-color: #CCE1F2;
}

.Movies {
    background-color: #C6F8E5;
}

.Arts {
    background-color: #FBF7D5;
}

.Family {
    background-color: #F9DED7;
}

.Livestream {
    background-color: #F5CDDE;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .eventContainer {
        column-count: 3;
    }

    .detailBlock {
        width: 50%
    }

    .smallDetailBlock {
        width: 21%;
    }
    #formGroupContainer{
        width: 80%;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .eventContainer {
        column-count: 2;
    }

    .detailBlock {
        width: 50%;
    }

    .smallDetailBlock {
        width: 21%;
    }
    #formGroupContainer{
        width: 80%;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .eventContainer {
        column-count: 2;
    }

    .detailBlock {
        width: 50%;
    }

    .smallDetailBlock {
        width: 21%;
    }
    #formGroupContainer{
        width: 80%;
    }
}
