body {
    border: 0;
    margin: auto 0;
    padding-top: 32px;
    background-color: #E2BEF1;
    height: 100%;
}
/*nav begin*/
.header{
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}
.header li a, .link-button{
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover,
.link-button:hover{
    background-color: #f4f4f4;
}
.header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
}
/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.inline{
    display:inline;
}
.link-button{
    background:none;
    border:none;
    color:black;
    font-size:1em;
    font-family:'Merriweather', serif;

}
/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}
/*nav end*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}
p {
    line-height: 1.5;
    font-family: 'Merriweather', serif;

}
a, .link-button {
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-decoration: none;
}
.form-container {
    display: grid;
    grid-template-columns: .5fr 1fr .5fr;
    grid-template-rows: .25fr .10fr 1fr .25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100vw;
}

.nav-div { grid-area: 1 / 1 / 2 / 4; }
.footer-div { grid-area: 4 / 1 / 5 / 4; }
.left-gutter { grid-area: 2 / 1 / 4 / 2; }
.right-gutter { grid-area: 2 / 3 / 4 / 4; }
.header { grid-area: 2 / 2 / 3 / 3; }
.form-group { grid-area: 3 / 2 / 4 / 3; }


.profile-container {
    display: grid;
    grid-template-columns: .15fr .70fr 1fr .15fr;
    grid-template-rows: .25fr .5fr 1fr .25fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.nav-profile { grid-area: 1 / 1 / 2 / 5; }
.footer-profile { grid-area: 4 / 1 / 5 / 5; }
.left-profile { grid-area: 2 / 1 / 4 / 2; }
.right-profile { grid-area: 2 / 4 / 4 / 5; }
.user-info { grid-area: 2 / 2 / 3 / 3; }
.user-posts { grid-area: 3 / 2 / 4 / 3; }
.calendar-container { grid-area: 2 / 3 / 4 / 4; }
.calendar-profile { grid-area: 2 / 3 / 4 / 4; }

.eventContainer{
    margin: 2em auto;
    width: 80%;
    max-width: 1024px;
    column-gap: 3em;
    text-align: center;
}

.eventCard{
    /*background-color: peachpuff;*/
    border-radius: 10px;
    display: inline-block;
    padding: 1em;
    margin: 0 0 1em;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.eventCard:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.eventImage {
    border-radius: 10px;
    height: auto;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Music{
    background-color: #CCE1F2;
}

.Movies{
    background-color: #C6F8E5;
}
.Arts{
    background-color: #FBF7D5;
}
.Family{
    background-color: #F9DED7;
}

/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    .eventContainer {
        column-count: 4;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .eventContainer {
        column-count: 3;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    .eventContainer {
        column-count: 2;
    }
}
