<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header.html :: header">
    <meta charset="UTF-8">
    <title>Page Not Found</title>
</head>
<body>

<div class="detailContainer">
    <div class="detailCard Movies">
        <div class="splashBlock" style="max-width: 500px">
            <img src="/img/skyline.png" style="max-width:250px" alt="San Antonio's Skyline">
            <h1>Oops! There's no page here!</h1>
            <br/>
            <form th:action="@{|/index|}" style="display:inline">
                <button class="profile-btn">Go Back Home</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
